
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0.0
    </div>
    <strong>Bản Quyền &copy; 2023 <a href="~/">White Shop</a>.</strong> All rights
    reserved.
</footer>